* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Whitney;
  src: url(../fonts/whitney.woff);
}

body {
  font-family: Whitney;
}

/* Clearfix */
/* .clearfix {
  content: "";
  display: table;
  clear: both;
} */

.home-bar {
  height: 80px;
  width: 100%;
  background-color: #404eed;
  line-height: 80px;
  padding-left: 200px;
  padding-right: 200px;
}

.cont_img {
  display: inline-block;
  height: 80px;
  width: calc(100% / 5);
}

header nav img {
  vertical-align: middle;
}

.links {
  display: inline-block;
  line-height: 80px;
  width: calc((100% / 5) * 3);
  text-align: center;
  /* padding-left: 200px;
  padding-right: 200px; */
}

a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.login {
  display: inline;
  padding: 7px 16px;
  border-radius: 40px;
  background-color: white;
}
